<main>
  <!-- ITENS DO CURSO 02 -->

  <div>
    <h1>Accessible Modal Component</h1>

    <p>Welcome to the accessible modal testing page!</p>

    <button class="button button-primary" type="button" (click)="show()">
      Show modal
    </button>

    <ng-template #modalTemplate>
      <form [formGroup]="formModal" (ngSubmit)="submitModal()">
        <div class="form-field">
          <label for="firstName">First name</label>

          <input
            aria-describedby="firstName-error"
            [attr.aria-invalid]="formModal.get('firstName')?.errors?.required"
            id="firstName"
            formControlName="firstName"
          />

          <span
            *ngIf="formModal.get('firstName')?.errors?.required"
            id="firstName-error"
            class="validation-error"
            >First name is required</span
          >
        </div>

        <div class="form-field">
          <label for="surname">Surname</label>

          <input
            aria-describedby="surname-error"
            [attr.aria-invalid]="formModal.get('sur name')?.errors?.required"
            id="surname"
            formControlName="surname"
          />

          <span
            *ngIf="formModal.get('surname')?.errors?.required"
            id="surname-error"
            class="validation-error"
            >Surname is required</span
          >
        </div>

        <div class="form-field">
          <label for="age">Age</label>

          <input
            aria-describedby="age-error"
            [attr.aria-invalid]="formModal.get('age')?.errors?.required"
            id="age"
            formControlName="age"
          />

          <span
            *ngIf="formModal.get('age')?.errors?.required"
            id="age-error"
            class="validation-error"
            >Age is required</span
          >
        </div>

        <label for="info">Subscribe to news letter</label>

        <input
          class="input-checkbox"
          id="info"
          type="checkbox"
          (change)="info = !info"
          formControlName="info"
        />

        <p [@fade] *ngIf="info">This is a placeholder for more information</p>

        <div class="button-group">
          <button
            class="button"
            [ngClass]="{
              'button-disabled': formModal.invalid,
              'button-primary': formModal.valid
            }"
            type="submit"
            [attr.aria-disabled]="formModal.invalid"
          >
            Submit
          </button>

          <button
            class="button button-secondary"
            type="button"
            (click)="modalRef.close()"
          >
            Cancel
          </button>
        </div>
      </form>
    </ng-template>
  </div>

  <!-- ITENS DO CURSO 01 -->

  <div>
    <h1 class="separator">Accessible Checks Component</h1>

    <form [formGroup]="formYesNoButtonGroup" (ngSubmit)="submitYesNoButton()">
      <app-angular-tags-yes-no-button-group
        [appDisableControl]="false"
        formControlName="angularTagsYesNoAnswer"
        label="Are you enough in Angular?"
      ></app-angular-tags-yes-no-button-group>

      <app-html-tags-yes-no-button-group
        [appDisableControl]="false"
        formControlName="htmlTagsYesNoAnswer"
        label="Are you enough in Angular?"
      ></app-html-tags-yes-no-button-group>

      <button class="button button-primary">Submit</button>
    </form>
  </div>
</main>
